{% extends 'base.html.twig' %}


{% block title %}{{ club.label }}{% endblock %}

{% block body %}
<br><br>
<table>
    <th>
        Club
    </th>
        <tr>
            <td>
                {{ club.label }}
            </td> 
        </tr>
</table>


{% endblock %}