{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ club.label }}{% endblock %}

{% block body %}

<br><br>
        <div class="col py-3">
            <table>
                <th>
                    Club
                </th>
                    <tr>
                        <td>
                            {{ club.label }}
                        </td> 
                    </tr>
            </table>

        </div>
    </div>
</div>


{% endblock %}