{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

        <div class="col py-3">
            <h3>Bienvenue sur la partie Admin</h3>
            <p class="lead">Sélectionner sur le coté gauche les entités.</p>
        </div>
    </div>
</div>

{% endblock %}
