<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                    
                        <ul class="collapse show nav flex-column ms-1">
                            <li class="nav-item">
                                <a href="{{path('home')}}" class="nav-link align-middle px-0">Home</a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_category') }}" class="nav-link px-0" target="_blank">Championnat</a>
                            </li>
                            <li>
                                <a href="{{path('admin_country')}}" class="nav-link px-0" target="_blank">Pays</span></a>
                            </li>
                            <li>
                                <a href="{{path('admin_club')}}" class="nav-link px-0" target="_blank">Club</span></a>
                            </li>
                        </ul>
            </div>
        </div>